/* ------------------------------
   Checkout Page Styles
------------------------------ */
#checkout-page {
    background-color: #fffefe;
    color: #000;
    font-family: 'Arial', sans-serif;
}

/* Placeholder for future checkout-page specific styles */
